﻿@using SiteSerralheriaSantos.Models

@{
    var empresa = (Empresa)ViewBag.Empresa;
}
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                @if (empresa.EmpresaId != Guid.Empty)
                {
                    <div class="col-lg-5 col-md-6 footer-info">
                        <h4>Informátivo</h4>
                        <p>@empresa.Informativo</p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Menu Rápido</h4>
                        <ul>
                            <li><a href="@Url.Action("Index","Home")">Início</a></li>
                            <li><a href="@Url.Action("Projetos","Home")">Projetos</a></li>
                            <li><a href="@Url.Action("SobreNos","Home")">Sobre Nós</a></li>
                            <li><a href="@Url.Action("Parceiros","Home")">Parceiros</a></li>
                            <li><label id="lb-modal" class="btn-abrirModal" data-abrirmodal="@Url.Action("AbrirModalLogin", "Home", new { })">Entrar</label></li>
                        </ul>
                    </div>

                    <div class="col-lg-5 col-md-6 footer-contact ">
                        <h4>Contatos</h4>
                        @if (empresa.Enderecos != null && empresa.Enderecos.Any())
                        {
                            <p>
                                @foreach (var item in empresa.Enderecos)
                                {
                                    @item.FormatEndereco<br>
                                }
                                <strong>Email: </strong>@empresa.Email<br>
                                <strong>Celular: </strong> @empresa.Celular<br>
                                <strong>Telefone: </strong> @empresa.Telefone<br>
                            </p>
                        }
                        @if (empresa.RedesSociais != null && empresa.RedesSociais.Any())
                        {
                            <div class="social-links">
                                @foreach (var item in empresa.RedesSociais)
                                {
                                    <a href="@item.Link" class="@Enum.GetName(typeof(TipoRedeSocial), item.TipoRedeSocial)"><i class="fa fa-@Enum.GetName(typeof(TipoRedeSocial), item.TipoRedeSocial)"></i></a>
                                }
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>@DateTime.Now.Year</strong>. Todos os direitos reservados
        </div>
        <div class="credits">
            Desenvolvido por Eloenay Pereira.
        </div>
    </div>
</footer>

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<div class="btn-whats">
    <a href="https://wa.me/@empresa.CelularWhatsappFormat?text=@empresa.Nome" target="_blank">
        <button id="draggable" class="pulse-button">
            <i class="fa fa-whatsapp"></i>
        </button>
    </a>
</div>
