﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SSS - @ViewBag.Title</title>
    <link href="imagem/favicon.png" rel="icon">
    <link href="imagem/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    @Styles.Render("~/Content/externo")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/notificacao")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="site-wrap">
        @Html.Partial("_Menu")
        <section id="intro" class="clearfix">
            <div class="container">

                <div class="intro-img">
                    <img src="../../imagem/intro_img.svg" alt="" class="img-fluid">
                </div>

                <div class="intro-info">
                    <h2>Solução<br>para sua obra</h2>

                </div>

            </div>
        </section>

        <main id="main">
            @RenderBody()
        </main>

        @Html.Partial("_Footer")

        @Scripts.Render("~/bundles/externo")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/notificacao")
        @RenderSection("scripts", required: false)
        @Html.Partial("_Message")
    </div>

</body>
</html>