﻿@using SiteSerralheriaSantos.Models
@{
    var empresa = (Empresa)ViewBag.Empresa;
}
<header id="header" class="fixed-top">
    <div class="container">
        <div class="logo float-left">
            @if (empresa.EmpresaId != Guid.Empty)
            {
                <a href="@Url.Action("Index","Home")" class="scrollto"><img src="@empresa.Imagem.Url" alt="" class="img-fluid"></a>
            }
        </div>
        <nav class="main-nav float-right d-none d-lg-block">
            <ul>
                <li class=""><a href="@Url.Action("Index","Home")">Início</a></li>
                <li><a href="@Url.Action("Projetos","Home")">Projetos</a></li>
                <li><a href="@Url.Action("SobreNos","Home")">Sobre Nós</a></li>
                <li><a href="@Url.Action("Parceiros","Home")">Parceiros</a></li>
                @if (empresa.EmpresaId == Guid.Empty)
                {
                    <li><a href="#" id="lb-modal" class="btn-abrirModal" data-abrirmodal="@Url.Action("AbrirModalLogin", "Home", new { })">Entrar</a></li>
                }
            </ul>
        </nav>
    </div>
</header>