﻿@using SiteSerralheriaSantos.ViewModels
@using SiteSerralheriaSantos.Models
@{
    var empresa = (Empresa)ViewBag.Empresa;
    var msgNaoVisualizada =  (int)ViewBag.Mensagem;
}
<header id="header" class="fixed-top">
    <div class="container">

        <div class="logo float-left">
            @if (Account.Roles == "Master")
            {
                <a href="@Url.Action("Index","Empresa")" class="scrollto"><h3>MASTER</h3></a>
            }
            else if (empresa != null && Account.Roles != "Master")
            {
                <a href="@Url.Action("AddOrUpdate","Empresa")" class="scrollto"><img src="@empresa.Imagem.Url" alt="" class="img-fluid"></a>
            }
        </div>

        <nav class="main-nav float-right d-none d-lg-block">
            <ul>
                @if (Account.Roles == "Master")
                {
                    <li><a href="@Url.Action("Index", "Empresa")">Empresa</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("AddOrUpdate", "Empresa")">Empresa</a></li>
                }
                <li><a href="@Url.Action("Index","Projeto")">Projeto</a></li>
                <li><a href="@Url.Action("Index","Parceiro")">Parceiro</a></li>
                <li><a href="@Url.Action("Index","Equipe")">Equipe</a></li>
                <li><a href="@Url.Action("Index","Mensagem")">Mensagem @if(msgNaoVisualizada > 0){<span class="badge badge-pill badge-danger">@msgNaoVisualizada</span>}</a></li>

                @if (Account.Roles == "Master")
                {
                    <li><a href="@Url.Action("Index","Login")">Usuário</a></li>
                }
                <li><a href="@Url.Action("Logout","Login")"><i class="fa fa-sign-out"></i> Sair</a></li>
                <li><a href="@Url.Action("AlterarSenha","Login")" title="Alterar senha"><span class="border-left pl-xl-4"></span>@User.Identity.Name</a></li>
            </ul>
        </nav>
    </div>
</header>