﻿@using SiteSerralheriaSantos.Models
@using PagedList.Mvc
@model PagedList.PagedList<Mensagem>

@{
    var paginaAtual = (int)TempData["Pagina"];
}
<div class="carregar-itens" data-url="@Url.Action("BuscarMensagem", "Mensagem", new { })">
    @if (Model != null && Model.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Data de Entrada</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataDeEntrada)
                        </td>
                        <td>
                            @if (item.Visto == false)
                            {
                                <span class="badge badge-pill badge-secondary">Não visualizado</span>
                            }
                            else
                            {
                                <span class="badge badge-pill badge-success">visualizado</span>
                            }
                        </td>
                        <td>
                            @Html.ActionLink(" ", "Descricao", new { mensagemId = item.MensagemId }, new { @class = "btn bg-secondary text-white rounded fa fa-list float-right ml-1 mb-1", data_toggle = "tooltip", Title = "Descricao" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="text-center">
            <h3>Nenhuma Informação Encontrada!</h3>
        </div>
    }
    <div class="row">
        <div class="col-12 mt-5">
            <div id="pageLink" data-tipo="menu" class="custom-pagination float-right" data-paginaatual="@paginaAtual" style="margin-top:-20px !important;">
                @Html.PagedListPager(Model, pagina => Url.Action("BuscarMensagem", "Mensagem", new { pagina = pagina }), new PagedListRenderOptions { LinkToPreviousPageFormat = "«", LinkToNextPageFormat = "»" })
            </div>
        </div>
    </div>
</div>
