﻿@model SiteSerralheriaSantos.Models.Mensagem

@{
    ViewBag.Title = "Atualizar";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<section>
    <div class="container" style="margin-top:140px;">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3><i>Mensagem / Descrição</i></h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content" style="display: block;">
                            <br>
                            @Html.HiddenFor(x => x.MensagemId)
                            @Html.HiddenFor(x => x.EmpresaId)
                            <div class="row form-group">
                                <div class="col-md-6">
                                    @Html.Label("Nome")
                                    @Html.TextBoxFor(model => model.Nome, new { @class = "form-control", disabled = "disabled" })
                                </div>
                                <div class="col-md-6">
                                    @Html.Label("Email")
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", disabled = "disabled" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    @Html.Label("Nome")
                                    @Html.TextAreaFor(model => model.Texto, new { @class = "form-control", disabled = "disabled" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <a href="@Url.Action("Index", "Mensagem", new { })" class="btn bg-secondary py-2 px-4 text-white">Retornar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
