﻿@model SiteSerralheriaSantos.Models.Usuario

<div class="row form-group">
    <div class="col-md-12">
        @Html.LabelFor(model => model.Nome, new { @class = "" })
        @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        @Html.LabelFor(model => model.Login, new { @class = "" })
        @Html.TextBoxFor(model => model.Login, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row form-group">
    <div class="col-md-6">
        <a href="@Url.Action("Index", "Login", new { })" class="btn bg-secondary py-2 px-4 text-white">Retornar</a>
    </div>
    <div class="col-md-6 text-right">
        <input type="submit" value="Salvar" class="btn bg-secondary py-2 px-4 text-white">
    </div>
</div>