﻿@using SiteSerralheriaSantos.Models
@using PagedList.Mvc
@model PagedList.PagedList<Usuario>

@{
    var paginaAtual = (int)TempData["Pagina"];
}
<div class="carregar-itens" data-url="@Url.Action("BuscarUsuario", "Login", new { })">
    @if (Model != null && Model.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Tipo Usuário</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoUsuario)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Atualizar", new { usuarioId = item.UsuarioId }, new { @class = "btn bg-secondary text-white rounded fa fa-pencil float-right ml-1 mb-1", data_toggle = "tooltip", Title = "Atualizar" })

                        @if (item.Ativo == true)
                        {
                            <button type="button" id="btn-ativo" data-ativo="@Url.Action("Ativo", "Login", new { usuarioId = item.UsuarioId })" class="btn bg-secondary text-white rounded fa fa-close fa float-right ml-1 mb-1" data-toggle="tooltip" title="Desativar"></button>
                        }
                        else
                        {
                            <button type="button" id="btn-ativo" data-ativo="@Url.Action("Ativo", "Login", new { usuarioId = item.UsuarioId })" class="btn bg-secondary text-white rounded fa fa-check float-right ml-1 mb-1" data-toggle="tooltip" title="Ativar"></button>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="text-center">
            <h3>Nenhuma Informação Encontrada!</h3>
        </div>
    }
    <div class="row">
        <div class="col-12 mt-5">
            <div id="pageLink" data-tipo="menu" class="custom-pagination float-right" data-paginaatual="@paginaAtual" style="margin-top:-20px !important;">
                @Html.PagedListPager(Model, pagina => Url.Action("BuscarUsuario", "Login", new { pagina = pagina }), new PagedListRenderOptions { LinkToPreviousPageFormat = "«", LinkToNextPageFormat = "»" })
            </div>
        </div>
    </div>
</div>
