﻿@using SiteSerralheriaSantos.ViewModels
@model SiteSerralheriaSantos.ViewModels.CadastrarUsuarioVm

@{
    ViewBag.Title = "Adicionar";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}
<section>
    <div class="container" style="margin-top:140px;">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3><i>Usuário / Adicionar</i></h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content" style="display: block;">
                            <br>
                            @using (Html.BeginForm("Adicionar", "Login", FormMethod.Post, new { @class = "p-3 bg-white form-color" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.Nome, new { @class = "" })
                                        @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.Login, new { @class = "" })
                                        @Html.TextBoxFor(model => model.Login, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Senha, new { @class = "" })
                                        @Html.PasswordFor(model => model.Senha, new { @class = "form-control", rows = "5" })
                                        @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.ConfirmacaoSenha, new { @class = "" })
                                        @Html.PasswordFor(model => model.ConfirmacaoSenha, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ConfirmacaoSenha, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.Label("Tipo de Usuário")
                                        @Html.EnumDropDownListFor(model => model.TipoUsuario, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TipoUsuario, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                if (Account.Roles == "Master")
                                {
                                    <div class="row form-group">
                                        <div class="col-md-12">
                                            @Html.Label("Empresa")
                                            <div class="input-group">
                                                @Html.DropDownListFor(model => model.EmpresaId, (SelectList)ViewBag.Empresas, "", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.EmpresaId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                }
                                <hr />
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        <a href="@Url.Action("Index", "Login", new { })" class="btn bg-secondary py-2 px-4 text-white">Retornar</a>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <input type="submit" value="Salvar" class="btn bg-secondary py-2 px-4 text-white">
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    @Scripts.Render("~/bundles/site")
}
