﻿@model SiteSerralheriaSantos.Models.Usuario

@{
    ViewBag.Title = "Atualizar";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<section>
    <div class="container" style="margin-top:140px;">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3><i>Usuário / Atualizar</i></h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content" style="display: block;">
                            <br>
                            @using (Html.BeginForm("Atualizar", "Login", FormMethod.Post, new { @class = "p-3 bg-white form-color" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(x => x.UsuarioId);
                                @Html.HiddenFor(x => x.EmpresaId);
                                @Html.HiddenFor(x => x.Senha);
                                @Html.HiddenFor(x => x.Ativo);
                                @Html.Partial("_Form")
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    @Scripts.Render("~/bundles/site")
}
