﻿span.glyphicon.glyphicon-folder-open.fa-lg.glyphicon-align-center {
    line-height: 1.5em !important;
}

.image input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 40px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

input.form-control.image-preview-filename {
    width: 100% !important;
}

.popover.fade.bottom.in {
    width: 200px;
    height: 200px;
}

.img-carregada {
    width: 160px;
    height: 130px;
}

.div-img {
    border: 1px solid;
    margin-left: 10px;
}

.popover-content > img {
    width: 170px;
    height: 140px;
}
