﻿.buttonlarg {
    width: 100%;
}

.owl-item:hover {
    transform: scale(1.1);
}

.form-color, .row-margin {
    border: 1px solid #ced4da !important;
    border-radius: 6px !important;
    background-color: #e8ebef !important;
}

span.glyphicon.glyphicon-folder-open.fa-lg.glyphicon-align-center {
    line-height: 1.5em !important;
}

.image-sistema input[type=file], .image-membro input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 40px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

input.form-control.image-preview-filename-sistema, input.form-control.image-preview-filename-membro {
    width: 100% !important;
}

#img-sistema {
    width: 100%;
    height: -webkit-fill-available;
    cursor: pointer;
}

#img-equipe {
    height: -webkit-fill-available;
    border-radius: 84px;
    border: 1px solid #b3b3b3;
    cursor: pointer;
}

#input-pesquisa {
    border-radius: 25px;
}

span.icon.icon-search {
    position: relative;
    margin-left: -31px;
    margin-top: 13px;
    z-index: 5;
}

#div-loading {
    position: absolute;
    z-index: 5;
    margin: 0px 450px;
}

#img-loading {
    width: 322px;
}

img#img-ctic, img#img-brasao {
    width: 240px;
    height: 88px;
}

footer.site-footer {
    padding-left: 60px;
    padding-right: 50px;
}

.mbN-8 {
    margin-bottom: -8px;
}

.site-blocks-cover.overlay.aos-init.aos-animate {
    border-bottom: 1px solid #adafae;
    border-top: 1px solid #adafae;
}

img#img-cpa {
    float: right;
    width: 209px;
    height: 70px;
    margin: 3px 9px 0px;
}

img#img-seduc {
    float: left;
    width: 340px;
    height: 75px;
    margin: 3px 7px 0px;
}

div#topo {
    width: 100%;
}

p.mbN-8, .dsl {
    font-size: 14px;
}

.textArea-link{
    font-size: 12px;
}

#link-ex{
    font-size: 11px;
    margin-bottom: 0px;
    margin-top: 0px;
}

@media (max-width: 768px) {
    div #topo {
        height: 58px;
    }

    img#img-cpa {
        width: 118px;
        height: 52px;
    }

    img#img-seduc {
        width: 174px;
        height: 52px;
    }
}

@media (max-width: 679px) {
    #img-cpa {
        margin-top: 3px !important;
        margin-bottom: 0px !important;
    }
}


@media (max-width: 349px) {
    .site-navbar .site-logo a {
        font-size: 15px !important;
    }

    p.mbN-8, dsl {
        font-size: 12px !important;
    }

    img#img-ctic, img#img-brasao {
        width: 240px;
        height: 50px !important;
    }
}

@media (max-width: 330px) {
    img#img-cpa {
        width: 100px;
        margin-right: 0px !important;
    }

    img#img-seduc {
        width: 118px;
    }
}
