﻿@using SiteSerralheriaSantos.ViewModels
@model SiteSerralheriaSantos.Models.Empresa
<div class="row form-group">
    <div class="col-md-6 col-xs-12">
        @Html.LabelFor(model => model.Nome, new { @class = "" })
        @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-3 col-xs-12">
        @Html.LabelFor(model => model.Celular, new { @class = "" })
        @Html.TextBoxFor(model => model.Celular, new { @class = "form-control celular" })
        @Html.ValidationMessageFor(model => model.Celular, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-3 col-xs-12">
        @Html.Label("Whatsapp")
        @Html.TextBoxFor(model => model.CelularWhatsapp, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CelularWhatsapp, "", new { @class = "text-danger" })
        <p style="font-size:9px; margin-bottom: -1rem;">Somente números</p>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-6 col-xs-12">
        @Html.LabelFor(model => model.Telefone, new { @class = "" })
        @Html.TextBoxFor(model => model.Telefone, new { @class = "form-control telefone" })
        @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6 col-xs-12">
        @Html.LabelFor(model => model.Email, new { @class = "" })
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12 col-xs-12">
        @Html.Label("Missão")
        @Html.TextAreaFor(model => model.Missao, new { @class = "form-control textArea", rows = "4" })
        @Html.ValidationMessageFor(model => model.Missao, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12 col-xs-12">
        @Html.Label("Visão")
        @Html.TextAreaFor(model => model.Visao, new { @class = "form-control textArea", rows = "4" })
        @Html.ValidationMessageFor(model => model.Visao, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12 col-xs-12">
        @Html.LabelFor(model => model.Valores, new { @class = "" })
        @Html.TextAreaFor(model => model.Valores, new { @class = "form-control textArea", rows = "4" })
        @Html.ValidationMessageFor(model => model.Valores, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12 col-xs-12">
        @Html.LabelFor(model => model.Informativo, new { @class = "" })
        @Html.TextAreaFor(model => model.Informativo, new { @class = "form-control textArea", rows = "4" })
        @Html.ValidationMessageFor(model => model.Informativo, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12 col-xs-12">
        @Html.Label("Quem Somos")
        @Html.TextAreaFor(model => model.QuemSomos, new { @class = "form-control textArea", rows = "7" })
        @Html.ValidationMessageFor(model => model.QuemSomos, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        @Html.Label("Imagem Logo *")
        <div class="input-group image-preview">
            @if (Model == null || Model.ImagemId == null)
            {
                <input type="text" class="form-control image-preview-filename" disabled="disabled" value="">
                <p style="font-size:9px; margin-bottom: -1rem;">Click dentro da caixa de texto</p>
            }
            else
            {
                <input type="text" class="form-control image-preview-filename" disabled="disabled" value="@Url.Content(Model.Imagem.NomeImagemLogoEmpresa)">
                <p style="font-size:9px; margin-bottom: -1rem;">Click dentro da caixa de texto</p>
            }
            <span class="input-group-btn">
                <div class="btn btn-default image text-center">
                    <span class="glyphicon glyphicon-folder-open  glyphicon-align-center"></span>
                    <input type="file" name="fotoLogo" accept="image/png, image/jpeg, image/jpg" />
                </div>
            </span>
        </div>
    </div>
</div>
@if (Model != null)
{
    <div class="row form-group">
        <div class="col-md-2 text-center div-img">
            <img class="img-carregada" src="@Model.Imagem.Url" />
            <h4>@Model.Imagem.NomeImagemLogoEmpresa</h4>
        </div>
    </div>
}
<hr />
<div class="row form-group">
    <div class="col-md-6">
        @if (Account.Roles == "Master")
        {
            <a href="@Url.Action("Index", "Empresa", new { })" class="btn bg-secondary text-white">Retornar</a>
        }
    </div>
    <div class="col-md-6 text-right">
        <input type="submit" value="Salvar" class="btn bg-secondary text-white">
    </div>
</div>