﻿@model SiteSerralheriaSantos.Models.RedeSocial
<div class="modal-dialog modal-md">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel2">Atualizar Rede Social</h4>
        </div>
        @using (Html.BeginForm("AtualizarRedeSocial", "Empresa", FormMethod.Post, new { id = "formUpdateRedeSocial" }))
        {
            <div class="modal-body">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.RedeSocialId, new { id = "redesocialId"})
                @Html.HiddenFor(x => x.EmpresaId)
                <div class="row form-group">
                    <div class="col-md-12">
                        @Html.Label("Tipo rede social")
                        @Html.EnumDropDownListFor(model => model.TipoRedeSocial, new { @class = "form-control", id = "titulo" })
                        @Html.ValidationMessageFor(model => model.TipoRedeSocial, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.Link, new { })
                        @Html.TextBoxFor(model => model.Link, new { @class = "form-control", id = "link" })
                        @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-secondary text-white" data-dismiss="modal">Sair</button>
                <button type="button" id="btn-atualizar-redesocial" class="btn bg-secondary text-white">Confirmar</button>
            </div>
        }
    </div>
</div>

