﻿@model SiteSerralheriaSantos.Models.Endereco
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel2">Atualizar Endereço</h4>
        </div>
        @using (Html.BeginForm("AtualizarEndereco", "Empresa", FormMethod.Post, new { id = "formUpdateEndereco" }))
        {
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.EnderecoId, new { id = "enderecoId" })
        @Html.HiddenFor(x => x.EmpresaId)
        <div class="row form-group">
            <div class="col-md-6">
                @Html.LabelFor(model => model.Rua, new { })
                @Html.TextBoxFor(model => model.Rua, new { @class = "form-control", id = "rua" })
                @Html.ValidationMessageFor(model => model.Rua, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                @Html.Label("Número")
                @Html.TextBoxFor(model => model.Numero, new { @class = "form-control", id = "numero" })
                @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                @Html.LabelFor(model => model.Bairro, new { })
                @Html.TextBoxFor(model => model.Bairro, new { @class = "form-control", id = "bairro" })
                @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.Cep, new { })
                @Html.TextBoxFor(model => model.Cep, new { @class = "form-control cep", id = "cep" })
                @Html.ValidationMessageFor(model => model.Cep, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                @Html.LabelFor(model => model.Cidade, new { })
                @Html.TextBoxFor(model => model.Cidade, new { @class = "form-control", id = "cidade" })
                @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.Estado, new { })
                @Html.TextBoxFor(model => model.Estado, new { @class = "form-control", id = "estado" })
                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Frame, new { })
                @Html.TextBoxFor(model => model.Frame, new { @class = "form-control", id = "frame" })
                @Html.ValidationMessageFor(model => model.Frame, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-secondary text-white" data-dismiss="modal">Sair</button>
                <button type="button" id="btn-atualizar-endereco" class="btn bg-secondary text-white">Confirmar</button>
            </div>
        }
    </div>
</div>
