﻿@model IEnumerable<SiteSerralheriaSantos.Models.Endereco>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Rua</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rua)
                </td>
                <td>
                    <button type="button" data-abrirmodal="@Url.Action("AbrirModalAtualizarEndereco", "Empresa", new { enderecoId = item.EnderecoId})" class="btn bg-secondary text-white fa fa-pencil btn-abrirModal" data-toggle="tooltip" title="Atualizar"></button>
                </td>
            </tr>
        }
    </tbody>
</table>
