﻿@model IEnumerable<SiteSerralheriaSantos.Models.RedeSocial>
@using SiteSerralheriaSantos.Models
<table class="table table-striped">
    <thead>
        <tr>
            <th>Título</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <label>@Enum.GetName(typeof(TipoRedeSocial), item.TipoRedeSocial)</label>
                </td>
                <td>
                    <button type="button" data-abrirmodal="@Url.Action("AbrirModalAtualizarRedeSocial", "Empresa", new { redeSocialId = item.RedeSocialId})" class="btn bg-secondary text-white fa fa-pencil btn-abrirModal" data-toggle="tooltip" title="Atualizar"></button>

                    @if (item.Ativo == true)
                    {
                        <button type="button" id="btn-ativoRedeSocial" data-ativo="@Url.Action("AtivoRedeSocial", "Empresa", new { redeSocialId = item.RedeSocialId })" class="btn bg-secondary text-white fa fa-ban" data-toggle="tooltip" title="Desativar"></button>
                    }
                    else
                    {
                        <button type="button" id="btn-ativoRedeSocial" data-ativo="@Url.Action("AtivoRedeSocial", "Empresa", new { redeSocialId = item.RedeSocialId })" class="btn bg-secondary text-white fa fa-check-circle-o" data-toggle="tooltip" title="Ativar"></button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
