﻿@{
    ViewBag.Title = "Adicionar";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}
@section styles{
    @Styles.Render("~/Content/carregar-imagem")
}
<section>
    <div class="container" style="margin-top:140px;">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3><i>Empresa / Adicionar</i></h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content" style="display: block;">
                            <br>
                            @using (Html.BeginForm("Adicionar", "Empresa", FormMethod.Post, new { @class = "p-3 bg-white form-color", enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Partial("_FormAdicionar")
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    @Scripts.Render("~/bundles/mask")
    @Scripts.Render("~/bundles/carregar-imagem")

    <script>
        $(document).on("keydown", "textarea", function () {
            objTextArea = this;
            while (objTextArea.scrollHeight > objTextArea.offsetHeight) {
                objTextArea.rows += 1;
            }
        });
    </script>
}
