﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<section>
    <div class="container" style="margin-top:140px;">
        <div class="page-title">
            <div class="title_left">
                <h3><i>Empresa</i></h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" id="input-pesquisa" class="form-control" placeholder="Buscar por empresa">
                        <span class="input-group-btn">
                            <button style="border-radius: 0px;" class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                @Html.ActionLink("Adicionar", "Adicionar", null, new { @class = "btn bg-secondary text-white" })
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" style="display: block;">
                        <br>
                        @Html.Partial("_PartialTabela")
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    @Scripts.Render("~/bundles/buscar-paginacao")
    @Scripts.Render("~/bundles/evento-ativo")
}