﻿@model SiteSerralheriaSantos.Models.Empresa
@if (Model != null)
{
    if (Model.Enderecos != null && Model.Enderecos.Any())
    {
        <section id="contact">
            <div class="container-fluid">

                <div class="section-header">
                    <h3>Entre em Contato</h3>
                </div>

                <div class="row wow fadeInUp">

                    <div class="col-lg-6">
                        <div class="map mb-4 mb-lg-0">
                            <iframe src="@Model.Enderecos.FirstOrDefault().Frame" frameborder="0" style="border:0; width: 100%; height: 312px;" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            @foreach (var item in Model.Enderecos)
                            {
                                <div class="col-md-5 info">
                                    <i class="ion-ios-location-outline"></i>
                                    <p>@item.FormatEndereco</p>
                                </div>
                            }
                            <div class="col-md-4 info">
                                <i class="ion-ios-email-outline"></i>
                                <p>@Model.Email</p>
                            </div>
                            <div class="col-md-3 info">
                                <i class="ion-ios-telephone-outline"></i>
                                <p>@Model.Celular</p>
                            </div>
                        </div>

                        <div class="form">
                            <div id="sendmessage">Your message has been sent. Thank you!</div>
                            <div id="errormessage"></div>
                            @using (Html.BeginForm("AdicionarMensagem", "Home", FormMethod.Post, new { @class = "contactform" }))
                            {
                                <div class="form-row">
                                    <div class="form-group col-lg-6">
                                        <input type="text" name="Nome" class="form-control" id="Nome" placeholder="Nome" data-rule="minlen:4" data-msg="mínimo de caracteres 4." />
                                        <div class="validation"></div>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <input type="email" class="form-control" name="Email" id="Email" placeholder="Email" data-rule="email" data-msg="Email inválido." />
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="Texto" rows="5" data-rule="required" data-msg="Preenximento obrigatório." placeholder="Mensagem"></textarea>
                                    <div class="validation"></div>
                                </div>
                                <div class="text-center"><button type="submit" title="Enviar Menssagem">Enviar Menssagem</button></div>
                            }
                        </div>
                    </div>

                </div>

            </div>
        </section>
    }
}