﻿@model SiteSerralheriaSantos.Models.Empresa
@if (Model.Equipes != null && Model.Equipes.Any())
{
    <section id="team">
        <div class="container">
            <div class="section-header">
                <h3>Equipe</h3>
            </div>

            <div class="row wow fadeInUp">
                @foreach (var item in Model.Equipes)
                {
                <div class="col-lg-3 col-md-6 wow fadeInUp">
                    <div class="member">
                        <img src="@item.Imagem.Url" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>@item.Nome</h4>
                                <span>@item.Cargo</span>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </section>
}