﻿@model SiteSerralheriaSantos.ViewModels.LoginVm
<div class="modal-dialog modal-md">
    <div class="modal-content">
        <div class="modal-header ">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        @using (Html.BeginForm("Entrar", "Login", new { area = "" }, FormMethod.Post, new { @class = "p-5 bg-white form-color" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.UrlRetorno)
            <div class="row form-group">
                <div class="col-md-12 text-center">
                    <h3><b>Login</b></h3>
                </div>
                <div class="col-md-12">
                    <label class="text-black">Usuário</label>
                    <input id="Login" class="form-control" type="text" name="Login">
                </div>
            </div>
            <div class="row form-group">

                <div class="col-md-12">
                    <label class="text-black" for="subject">Senha</label>
                    <input class="form-control" id="Senha" type="password" name="Senha">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <input type="submit" value="Entrar" class="btn btn-dark py-2 px-4 text-white buttonlarg">
                </div>
            </div>
        }
    </div>
</div>
