﻿@model SiteSerralheriaSantos.Models.Empresa
@if (Model.Parceiros != null && Model.Parceiros.Any())
{
    <section id="clients">
        <div class="container">
            <div class="section-header">
                <h3>Parceiros</h3>
            </div>

            <div class="row wow fadeInUp">
                @foreach (var item in Model.Parceiros.Take(12))
                {
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <img src="@item.Imagem.Url" class="img-fluid" alt="">
                    </div>
                </div>
                }
            </div>
        </div>
    </section>
}