﻿@model SiteSerralheriaSantos.Models.Empresa
@if (Model.Galerias != null && Model.Galerias.Any())
{
    <section id="portfolio" class="clearfix">
        <div class="container">

            <header class="section-header">
                <h3 class="section-title">Projetos</h3>
            </header>

            <div class="row wow fadeInUp">
                @foreach (var item in Model.Galerias.Take(12))
                {
                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="@item.Imagem.Url" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4><a href="#">@item.Titulo</a></h4>
                                <div>
                                    <a href="@item.Imagem.Url" data-lightbox="portfolio" data-title="@item.Titulo" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}