﻿@using SiteSerralheriaSantos.Models

@{
    ViewBag.Title = "Home Page";
    var empresa = (Empresa)ViewBag.Empresa;
}

@if (empresa != null)
{
    <section id="about">
        <div class="container">
            <header class="section-header">
                <p><b>Bem-vindo à @empresa.Nome</b><br /> A melhor empresa para serviços e produtos em serralheria.</p>
            </header>
            <div class="row about-container">
                <div class="col-lg-6 content order-lg-1 order-2">
                    <div class="icon-box wow fadeInUp">
                        <div class="icon"><i class="fa fa-crosshairs"></i></div>
                        <h4 class="title"><a href="">Missão</a></h4>
                        <p class="description">@empresa.Missao</p>
                    </div>
                    <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                        <div class="icon"><i class="fa fa-eye"></i></div>
                        <h4 class="title"><a href="">Visão</a></h4>
                        <p class="description">@empresa.Visao</p>
                    </div>
                    <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon"><i class="fa fa-handshake-o"></i></div>
                        <h4 class="title"><a href="">Valores</a></h4>
                        <p class="description">@empresa.Valores</p>
                    </div>
                </div>
                <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp text-center">
                    <img src="~/imagem/dsd.svg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>
}

@Html.Partial("_Projetos", empresa)
@Html.Partial("_Equipe", empresa)
@Html.Partial("_Parceiros", empresa)
@Html.Partial("_Contatos", empresa)

<div class="modal fade abrir-modal in"></div>

@section Scripts {
    @Scripts.Render("~/bundles/carregar-modal")
}