﻿@model IEnumerable<SiteSerralheriaSantos.Models.Parceiro>
@{
    ViewBag.Title = "Parceiros";
}

<section id="clients">
    <div class="container">
        <header class="section-header">
            <h3 class="section-title">Parceiros</h3>
        </header>

        <div class="row wow fadeInUp">
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo">
                            <img src="@item.Imagem.Url" class="img-fluid" alt="">
                        </div>
                    </div>
                }
            }
            else
            {
                <h3>Nenhum parceiro encontrado!</h3>
            }
        </div>
    </div>
</section>