﻿@model IEnumerable<SiteSerralheriaSantos.Models.Galeria>
@{
    ViewBag.Title = "Projetos";
}

<section id="portfolio">
    <div class="container">

        <header class="section-header">
            <h3 class="section-title">Projetos</h3>
        </header>

        <div class="row wow fadeInUp">
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="@item.Imagem.Url" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4><a href="#">@item.Titulo</a></h4>
                                <div>
                                    <a href="@item.Imagem.Url" data-lightbox="portfolio" data-title="@item.Titulo" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <h3>Nenhum projeto encontrado!</h3>
            }
        </div>
    </div>
</section>

