﻿@model SiteSerralheriaSantos.Models.Empresa
@{
    ViewBag.Title = "Sobre Nós";
}

<section id="portfolio" class="clearfix">
    <div class="container">

        <header class="section-header">
            <h3 class="section-title">Sobre Nós</h3>
        </header>

        <div class="row wow fadeInUp">
            @if (Model != null)
            {
                <div class="col-md-12 content order-lg-1 order-2">
                    <div class="icon-box wow fadeInUp">
                        <p class="description">@Model.QuemSomos</p>
                    </div>
                </div>
            }
            else
            {
                <h3>Nenhum conteúdo encontrado!</h3>
            }
        </div>
    </div>
</section>
