﻿@using SiteSerralheriaSantos.ViewModels
@model SiteSerralheriaSantos.Models.Galeria

<div class="row form-group">
    <div class="col-md-12">
        @Html.Label("Título")
        @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        @Html.Label("Categoria")
        <div class="input-group">
            @Html.DropDownListFor(model => model.CategoriaId, (SelectList)ViewBag.Categorias, "", new { @class = "form-control" })
            <span class="input-group-btn">
                <button class="btn btn-default btn-abrirModal" data-abrirmodal="@Url.Action("AbrirModalAdicionarCategoria", "Projeto", new { })" type="button" style="border-radius: 0px !important" title="Adicionar categoria"><span class="fa fa-plus"></span></button>
            </span>
            @Html.ValidationMessageFor(model => model.CategoriaId, "", new { @class = "text-danger" })
        </div>

    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        @Html.Label("Imagem Projeto")
        <div class="input-group image-preview">
            @if (Model == null || Model.ImagemId == null)
            {
                <input type="text" class="form-control image-preview-filename" disabled="disabled" value="">
                <p style="font-size:9px;">Click dentro da caixa de texto</p>
            }
            else
            {
                <input type="text" class="form-control image-preview-filename" disabled="disabled" value="@Url.Content(Model.Imagem.NomeImagemGaleria)">
                <p style="font-size:9px;">Click dentro da caixa de texto</p>
            }
            <span class="input-group-btn">
                <div class="btn btn-default image text-center">
                    <span class="glyphicon glyphicon-folder-open  glyphicon-align-center"></span>
                    <input type="file" name="fotoProjeto" accept="image/png, image/jpeg, image/jpg" />
                </div>
            </span>
        </div>
    </div>
</div>
@if (Model != null)
{
    <div class="row form-group">
        <div class="col-md-2 text-center div-img">
            <img class="img-carregada" src="@Model.Imagem.Url" />
            <h4>@Model.Imagem.NomeImagemGaleria</h4>
        </div>
    </div>
}
@if (Account.Roles == "Master")
{
    <div class="row form-group">
        <div class="col-md-12">
            @Html.Label("Empresa")
            <div class="input-group">
                @Html.DropDownListFor(model => model.EmpresaId, (SelectList)ViewBag.Empresas, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EmpresaId, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}
<hr />
<div class="row form-group">
    <div class="col-md-6">
        <a href="@Url.Action("Index", "Projeto", new { })" class="btn bg-secondary py-2 px-4 text-white">Retornar</a>
    </div>
    <div class="col-md-6 text-right">
        <input type="submit" value="Salvar" class="btn bg-secondary py-2 px-4 text-white">
    </div>
</div>