﻿@model SiteSerralheriaSantos.Models.Categoria
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Adicionar Categoria</h4>
            </div>
            @using (Html.BeginForm("AdicionarCategoria", "Projeto", FormMethod.Post, new { id = "formAddCategoria" }))
            {
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <div class="row form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Nome, new { })
                            @Html.TextBoxFor(model => model.Nome, new { @class = "form-control", id = "nome" })
                            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-secondary text-white" data-dismiss="modal">Sair</button>
                    <button type="button" id="btn-adicionar-categoria" class="btn bg-secondary text-white">Confirmar</button>
                </div>
            }
        </div>
    </div>
